




</body>

<footer>
    <div>
        <span class="social"><a href="https://www.youtube.com/channel/UCtWt-4A3vRmEXMPltqnFnuw"><i class="fab fa-youtube fa-5x"></i></a></span>
        <span class="social"><a href="https://www.instagram.com/yakfishingguy/"> <i class="fab fa-instagram fa-5x"></i></a></span>
    </div>
</footer>
</html>