            <ul class="list-group">
                <li class="list-group-item"><a href="https://www.youtube.com/channel/UCtWt-4A3vRmEXMPltqnFnuw">Youtube <i class="fab fa-youtube fa-2x"></i></a></li>
                <li class="list-group-item"><a href="https://www.instagram.com/yakfishingguy/">Instagram <i class="fab fa-instagram fa-2x"></i></a></li>
                <li class="list-group-item"><a href="./privacy">Privacy Policy</a></li>
                <li class="list-group-item"><a href="./tos">TOS</a></li>
            </ul>