<% include partials/header %>

<div class="container">
    <div class="row">
         <div class="pull-right sidebar col-md-3"><%# Side bar %>
            <% include partials/sidebar %>
        </div>
        <div class="mainContent col-md-9 align-center"><%# Main body area %>
            <h1>Hey everyone, I am currently working on the site to make it into an awesome place to bring my content together it should be done soon so check back often!</h1>                
            <em>For now check out my social media pages below!</em>
            <hr>
            <div class="fb-login-button" data-max-rows="1" data-size="large" data-button-type="continue_with" data-show-faces="false" data-auto-logout-link="false" data-use-continue-as="true"></div>

                <span class="social"><a href="https://www.youtube.com/channel/UCtWt-4A3vRmEXMPltqnFnuw"><i class="fab fa-youtube fa-10x"></i></a></span>
                <span class="social"><a href="https://www.instagram.com/yakfishingguy/"> <i class="fab fa-instagram fa-10x"></i></a></span>
            </div>
        </div>       
    </div>
</div>



<% include partials/footer %>