<% include partials/header %>

<div class="container">
    <div class="row">
        <div class="pull-right sidebar col-md-2"><%# Side bar %>
            <ul class="col-md-12">
                <li>Media</li>
                <li>Store</li>
                <li>Privacy Policy</li>
                <li>Terms of Service</li>
            </ul>
        </div>
        <div class="pull-right mainContent col-md-10"><%# Main body area %>
           <div class="jumbotron">We have some awesome surprises on the way. Please check back often for updates!<div>
        </div>       
    </div>
</div>



<% include partials/footer %>