<% include partials/header %>

<div class="container">
    <div class="row">
        <div class="pull-right sidebar col-md-2"><%# Side bar %>
            <ul class="col-md-12 list-group">
                <li class="list-group-item"><a href="https://www.youtube.com/channel/UCtWt-4A3vRmEXMPltqnFnuw">Youtube</a></li>
                <li class="list-group-item"><a href="https://www.instagram.com/yakfishingguy/?hl=en">Instagram</a></li>
                <li class="list-group-item"><a href="./blog">Blog</a></li>
                <li class="list-group-item"><a href="#">Privacy Policy</a></li>
                <li class="list-group-item"><a href="#">Terms of Service</a></li>
            </ul>
        </div>
        <div class="pull-right mainContent col-md-10"><%# Main body area %>
           <div class="">Welcome to YakFishingGuy! I welcome you to check out my Youtube, Instagram, Blog, and Store!<div>
            <hr>

           <iframe width="910" height="512" src="https://www.youtube.com/embed/qbZRZ437XuA" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

            <<!-- div class="fb-login-button" data-max-rows="1" data-size="large" data-button-type="continue_with" data-show-faces="false" data-auto-logout-link="false" data-use-continue-as="true"></div>-->
        </div>       
    </div>
</div>



<% include partials/footer %>