<% include partials/header %>

<div class="container">
    <div class="row">
         <div class="pull-right sidebar col-md-3"><%# Side bar %>
            <% include partials/sidebar %>
        </div>
        <div class="pull-right mainContent col-md-10"><%# Main body area %>
           <div class="jumbotron">We have some awesome surprises on the way. Please check back often for updates!<div>
        </div>       
    </div>
</div>



<% include partials/footer %>