<% include partials/header %>

<div class="container">
    <div class="row">
         <div class="pull-right sidebar col-md-3"><%# Side bar %>
            <% include partials/sidebar %>
        </div>
        <div class="mainContent col-md-9 align-center"><%# Main body area %>
            <h1>Hey everyone, I am currently working on the site to make it into an awesome place to bring my content together it should be done soon so check back often!</h1>                
            <em>For now check out my social media pages below!</em>
            <hr>
            <div class="col-md-12">
                <h2>Terms of Service ("TOS")</h2>

                <em>Last updated: (8/16/2018)</em>

                <p>Please read these Terms of Service ("Terms", "Terms of Service") carefully before using the https://www.yakfishingguy.com operated by YakFishingGuy.com ("us", "we", or "our").

                Your access to and use of the Service is conditioned on your acceptance of and compliance with these Terms. These Terms apply to all visitors, users and others who access or use the Service.

                By accessing or using the Service you agree to be bound by these Terms. If you disagree with any part of the terms then you may not access the Service.</p>

                <h3>Termination</h3>

                <p>We may terminate or suspend access to our Service immediately, without prior notice or liability, for any reason whatsoever, including without limitation if you breach the Terms.

                All provisions of the Terms which by their nature should survive termination shall survive termination, including, without limitation, ownership provisions, warranty disclaimers, indemnity and limitations of liability.</p>
                

                <h3>Links To Other Web Sites</h3>

                <p>Our Service may contain links to third-party web sites or services that are not owned or controlled by YakFishingGuy.com.

                YakFishingGuy.com has no control over, and assumes no responsibility for, the content, privacy policies, or practices of any third party web sites or services. You further acknowledge and agree that YakFishingGuy.com shall not be responsible or liable, directly or indirectly, for any damage or loss caused or alleged to be caused by or in connection with use of or reliance on any such content, goods or services available on or through any such web sites or services.</p>

                <h3>Changes</h3>

                <p> We reserve the right, at our sole discretion, to modify or replace these Terms at any time. If a revision is material we will try to provide at least 30 days' notice prior to any new terms taking effect. What constitutes a material change will be determined at our sole discretion.</p>
                
                <h3>Contact Us</h3>

                <p>If you have any questions about these Terms, please contact us at yakfishingguy@gmail.com.</p>

            
            </div>
            <div>
                <span class="social"><a href="https://www.youtube.com/channel/UCtWt-4A3vRmEXMPltqnFnuw"><i class="fab fa-youtube fa-10x"></i></a></span>
                <span class="social"><a href="https://www.instagram.com/yakfishingguy/"> <i class="fab fa-instagram fa-10x"></i></a></span>
            </div>
        </div>       
    </div>
</div>



<% include partials/footer %>